.button-marker-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 30px;
    height: 100%;

    .options-link-marker {
        height: 3px;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease-out;
        position: absolute;
        top: 64%;
    }

    .options-link-button {
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s ease-out;

        // &:hover {
        //     color: rgb(97, 187, 223);
        // }

        &:hover + .options-link-marker {
            visibility: visible;
            opacity: 1;
        }
    }
}